extends ./components/templates.pug

block content
  section.main-container.main-container--block
    main.cards-container      
      +product-card('pineapple.jpg','$ 111,22','Pineapple')
      +product-card('lighter.jpg','$ 111,22','Ligther')
      +product-card('camera.jpg','$ 111,22','Camera')
      +product-card('lighter.jpg','$ 111,22','Ligther')
      +product-card('camera.jpg','$ 111,22','Camera')
      +product-card('pineapple.jpg','$ 111,22','Pineapple')
      +product-card('lighter.jpg','$ 111,22','Ligther')
      +product-card('camera.jpg','$ 111,22','Camera')
      +product-card('pineapple.jpg','$ 111,22','Pineapple')
      +product-card('lighter.jpg','$ 111,22','Ligther')
      +product-card('camera.jpg','$ 111,22','Camera')
      +product-card('lighter.jpg','$ 111,22','Ligther')
      +product-card('camera.jpg','$ 111,22','Camera')
      +product-card('pineapple.jpg','$ 111,22','Pineapple')
      +product-card('lighter.jpg','$ 111,22','Ligther')
      +product-card('camera.jpg','$ 111,22','Camera')
