extends components/templates.pug

block content 
  nav.menu-desktop
    ul.menu-desktop__list
      li.menu-desktop__item: a.menu-desktop__link(href="#") My orders
      li.menu-desktop__item: a.menu-desktop__link(href="#") My account
      li.menu-desktop__item: a.menu-desktop__link.menu-desktop__link--primary(href="#") Sign out
