extends ./components/templates.pug

block content
  .main-container
    section.account
      h1.content-title.content-title--account My account

      form.account__form
        label.labels(for="name") Name
        p.account__value Camila Yokoo

        label.labels(for="email") Email address 
        p.account__value camilayokoo@email.com

        label.labels(for="password") Password 
        p.account__value ******

      button.button.button--secondary.button--account Edit