header.main-header 
  nav.navbar
    //- Burger menu
    img.navbar__burger-menu(src="assets/icons/icon_menu.svg", alt="Menu icon")
    //- 
    .navbar__left 
      //- Logo
      img.navbar__logo(src="assets/logos/logo_yard_sale.svg", alt="Yard sale icon")
      //- Categories
      ul.navbar__menu-list
        li.navbar__menu-item: a.navbar__menu-link.navbar__menu-link--primary(href="#") All
        li.navbar__menu-item: a.navbar__menu-link(href="#") Clothes
        li.navbar__menu-item: a.navbar__menu-link(href="#") Electronics
        li.navbar__menu-item: a.navbar__menu-link(href="#") Furniture
        li.navbar__menu-item: a.navbar__menu-link(href="#") Toys
        li.navbar__menu-item: a.navbar__menu-link(href="#") Others
    //- Account nav
    .navbar__right
      ul.navbar__account-list 
        li.navbar__email camilayokoo@email.com
        li.navbar__cart: img(src="assets/icons/icon_shopping_cart.svg", alt="Shopping cart icon")
