.new-pass {  
  width: 100%;  
  max-width: 400px;  
  padding: 16px;
  display: grid;
  justify-items: center;
  grid-template-rows: auto 1fr auto;

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
